*{
    margin: 0;
    padding: 0;
}

.wrapbox{
    width: 1200px;
    height: 1200px;
    background-color:aliceblue;
    margin: auto;
}

.box1{
    height: 70%;
    /* background-color: bisque; */
}
.box1-1{
    height: 50%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item1{
    width: 300px;
    height: 340px;
    background-color:white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}
.link1{
    text-decoration: none;
}
.item1-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.item1-mid{
    width: 255px;
    height: 70px;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 19.2px;
    color: black;
}
.item1-bot{
    width: 255px;
    height: 60px;
    /* background-color: burlywood; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 14.4px;
    justify-content: space-between;
}
.item1-star{
    width: 30px;
    display: flex;
    justify-content:flex-end;
}


.item2{
    width: 300px;
    height: 340px;
    background-color:white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.link2{
    text-decoration: none;
}
.item2-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.item2-mid{
    width: 255px;
    height: 70px;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 19.2px;
    color: black;
    
}
.item2-bot{
    width: 255px;
    height: 60px;
    /* background-color: burlywood; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 14.4px;
    justify-content: space-between;
}
.item2-star{
    width: 30px;
    display: flex;
    justify-content:flex-end;
}
.item3{
    width: 300px;
    height: 340px;
    background-color: white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}
.link3{
    text-decoration: none;
}
.item3-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.item3-mid{
    width: 255px;
    height: 70px;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 19.2px;
    color: black;
    
}
.item3-bot{
    width: 255px;
    height: 60px;
    /* background-color: burlywood; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 14.4px;
    justify-content: space-between;
}

.item3-star{
    width: 30px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.box1-2{
    height: 50%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item4{
    width: 300px;
    height: 340px;
    background-color: white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}
.link4{
   text-decoration: none;

}

.item4-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.item4-mid{
    width: 255px;
    height: 70px;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 19.2px;
    color: black;
    
}
.item4-bot{
    width: 255px;
    height: 60px;
    /* background-color: burlywood; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 14.4px;
    justify-content: space-between;
}

.item4-star{
    width: 30px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.item5{
    width: 300px;
    height: 340px;
    background-color: white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}
.link5{
    text-decoration: none;
}
.item5-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.item5-mid{
    width: 255px;
    height: 70px;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 19.2px;
    color: black;
    
}
.item5-bot{
    width: 255px;
    height: 60px;
    /* background-color: burlywood; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 14.4px;
    justify-content: space-between;
}

.item5-star{
    width: 30px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.item6{
    width: 300px;
    height: 340px;
    background-color: white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}
.link6{
    text-decoration: none;
}
.item6-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.item6-mid{
    width: 255px;
    height: 70px;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 19.2px;
    color: black;
    
}
.item6-bot{
    width: 255px;
    height: 60px;
    /* background-color: burlywood; */
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 14.4px;
    justify-content: space-between;
}

.item6-star{
    width: 30px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}




.box2{
    height: 30%;
    background-color: #30598c;
    display: flex;
    justify-content:space-evenly;
    color: white;
}
.company{
    width: 250px;
    height: 100%;
    /* background-color: bisque; */
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.introduce{
    width: 200px;
    height: 100%;
    /* background-color:aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.advise{
    width: 400px;
    height: 100%;
    /* background-color:tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.address{
    width: 250px;
    height: 100%;
    /* background-color:antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}