*{
    margin: 0;
    padding: 0;
}
.wrapbox{
    width: 1200px;
    height: 1400px;
    background-color:aliceblue;
    margin: auto;
}
.box1{
    height: 85%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
}
.button{
    height: 30px;
    width: 140px;
    background-color: greenyellow;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;

}
.textmain{
    margin-top: 30px;
}
.container{
    width: 1150px;
    height: 90%;
    background-color:white;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}
.container1{
    width: 1000px;
    height: 90%;
    /* background-color:chocolate; */
    margin: auto;
    
    
}
h1{
    text-align: center;
}
.box2{
    height: 20%;
    background-color: #30598c;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: white;
}
.company{
    width: 250px;
    height: 100%;
    /* background-color: bisque; */
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.introduce{
    width: 200px;
    height: 100%;
    /* background-color:aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.advise{
    width: 400px;
    height: 100%;
    /* background-color:tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.address{
    width: 250px;
    height: 100%;
    /* background-color:antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li{
    padding: 0;
    margin: 0;
}